/* Наші особливості */

.feature__list {
    display: flex;
}

.feature__item:not(:last-child) {
    margin-right: 30px;
}

.feature__item {
    width: 270px;
}

.feature__title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.feature__text {
    line-height: 1.71;

    color: var(--secondary-text-color);
}

.feature__box {
    width: 270px;
    height: 120px;
    background-color: var(--alternative-background);
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}